.navigation {
  list-style: none;
  padding-left: 0;
  margin: 25.5px 75px;
  text-align: center;
}
.navigation-item {
  display: inline-block;
  margin-right: 72px;
}
.nav-link {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  color: #ff0000;
  text-decoration: none;
}
.section-content {
  text-align: center;
  margin: 49px 40px 0 40px;
  width: 100%;
}
.section-content-title {
  margin: 48px 38px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #373737;
}
.section-content-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}
.section-btn {
  background: #ff0000;
  border-radius: 4px;
  border: 1px solid;
  padding: 18px 42.5px 17px 43.5px;
  text-decoration: none;
  margin-top: 66px;
  margin-bottom: 42px;
  display: inline-block;

}
.footer-content {
  text-align: right;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  margin-bottom: 29px;
  margin-right: 105px;
  margin-top: 40px;
}
